.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 2px solid red;
}



.bg-box {
    background-color: green;
    background-image: url('/img/dom.webp') url('/img/esh.webp') url('/img/green.png') url('/img/lamp.png') url('/img/ponchik.png');
    background-position: center, left, bottom, top, right;
    background-repeat: no-repeat, repeat, repeat, repeat, repeat;

}